@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", serif;
}

.glossy::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    background-color: white;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: .6;
    top: -30px;
    transition: 1.2s;
    transform: rotate(-20deg) translateX(-60px);
}

.glossy:hover:before{
    transform: rotate(-20deg) translate(140px,70px);
}

.uppp span:nth-child(1){
    translate:0 0px;
    transition: ease-in-out .5s;
    
}
.uppp:hover span:nth-child(1){
    translate:0 -42px;
    transition: ease-in-out .5s;
    
}

.uppp span:nth-child(2){
    translate:0 42px;
    transition: ease-in-out .5s;
}
.uppp:hover span:nth-child(2){
    translate:0 -26px;
    transition: ease-in-out .5s;

}
